<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwen.bookTicket.dao.UserMapper">

	<select id="getUserByAccount" resultType="com.iwen.plan.dao.TSUser">
		SELECT top 1 id,account from sys_user where UPPER(account) = UPPER(#{account}) and state=0
	</select>


</mapper>
